/* colored elements */

a {
    text-decoration: none !important;
    color: black !important;
}

code {
    border: none !important;
    color: black !important;
}

pre span {
    color: black !important;
}

section.wiki article pre {
    border: 1px solid black !important;
    border-radius: 0 !important;
    background: white !important;
}

img {
    filter: grayscale(100%);
}

/* tips */

section.wiki div.info,
section.wiki div.danger,
section.wiki div.warning {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    color: black !important;
    background-color: white;
    padding: 0;
    margin-bottom: 0.25rem;
    border: none;
    border-radius: 0;
}

/* navigators */
section.wiki nav.article_header_nav,
section.wiki nav.article_nav,
section.wiki nav.article_footer_nav {
    display: none;
}

/* header */
div.header div.credits,
div.header ul.site_links {
    display: none;
}

div.header div.brand {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0 0 1rem 0;
}

/* Footer */
div.footer div.ph {
    display: none;
}

div.footer div.copy p:not(:first-child) {
    display: none;
}

div.footer div.copy,
div.footer div.copy p:first-child {
    margin: 0;
    padding: 0;
}